<div class="row mt-5">

    <div class="col-md-3"></div>


    <div class="col-md-6">
        <div class="border border-3 rounded shadow p-5 ">
            <h3>Register</h3>
            <p class="mt-3">Email</p>
            <input type="text" class="form-control" placeholder="Enter your email address"> 

            <p class="mt-3">Username</p>
            <input type="text" class="form-control" placeholder="Enter a Username"> 

            <p class="mt-3">Password</p>
            <input type="text" class="form-control" placeholder="Enter a Password" > 

            <p class="mt-3">Already have an account? <a routerLink="/login">Login</a></p>

            <button class="btn btn-primary" (click)="register()">Login</button>

        </div>
    </div>


    <div class="col-md-3"></div>

</div>